BaseValueManagement/BYEProcess/VerifyBaseYearEvent/businessCatalog/Data/BYEHumanTaskBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.9.0.1.7" build="1.7" fullName="Data.BYEHumanTaskBO" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Data/BYEHumanTaskBO" elementFormDefault="qualified" xmlns:ns3="http://xmlns.oracle.com/bpm/bpmobject/Data/AssignToUserOrGroupBO"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/Data/BYEHumanTaskBO"  xmlns:ns2="http://xmlns.oracle.com/bpm/bpmobject/Data/SortBYEBO"  xmlns:ns1="http://assessor.lacounty.gov/amp/data/bvm/ManageBYE/v1.0"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/Data/AssignToUserOrGroupBO" schemaLocation="AssignToUserOrGroupBO.xsd"/>
    <xs:import namespace="http://assessor.lacounty.gov/amp/data/bvm/ManageBYE/v1.0" schemaLocation="oramds:/apps/amp/xsd/bvm/ManageBYE.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/Data/SortBYEBO" schemaLocation="SortBYEBO.xsd"/>
    <xs:complexType name="BYEHumanTaskBOType">
        <xs:sequence>
            <xs:element ref="ns1:manageBYERequest" bpmo:name="manageBYERequest"/>
            <xs:element name="assignTo_UserId" nillable="true" type="xs:string"/>
            <xs:element name="assignTo_GroupId" nillable="true" type="xs:string"/>
            <xs:element name="assignTo_ManagerId" nillable="true" type="xs:string"/>
            <xs:element name="role" nillable="true" type="xs:string"/>
            <xs:element name="ownerId" nillable="true" type="xs:string"/>
            <xs:element name="clientId" nillable="true" type="xs:string"/>
            <xs:element name="checkBYE" nillable="true" type="xs:string"/>
            <xs:element name="userType" nillable="true" type="xs:string"/>
            <xs:element name="accquiredBy" nillable="true" type="xs:string"/>
            <xs:element name="returnTo" nillable="true" type="xs:string"/>
            <xs:element name="sortBYE" nillable="true" type="ns2:SortBYEBOType"/>
            <xs:element name="assignmentBox" nillable="true" type="ns3:AssignToUserOrGroupBOType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BYEHumanTaskBO" type="BYEHumanTaskBOType"/>
</xs:schema>
