BaseValueManagement/BYEProcess/VerifyBaseYearEvent/businessCatalog/Data/ProcessRoutingBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.9.0.1.7" build="1.7" fullName="Data.ProcessRoutingBO" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Data/ProcessRoutingBO" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/Data/ProcessRoutingBO"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="ProcessRoutingBOType">
        <xs:sequence>
            <xs:element name="submitBYE_Outcome" nillable="true" type="xs:string"/>
            <xs:element name="manageBYE_Outcome" nillable="true" type="xs:string"/>
            <xs:element name="manageBYE_PA_Outcome" nillable="true" type="xs:string"/>
            <xs:element name="reviewBYE_Outcome" nillable="true" type="xs:string"/>
            <xs:element name="reviewBYE_PA_Otcome" nillable="true" type="xs:string"/>
            <xs:element name="approveBYE_Outcome" nillable="true" type="xs:string"/>
            <xs:element name="fyiOutcome" nillable="true" type="xs:string"/>
            <xs:element name="assignTo_AppraiserId" nillable="true" type="xs:string"/>
            <xs:element name="supervisorId" nillable="true" type="xs:string"/>
            <xs:element name="principalAppraiserId" nillable="true" type="xs:string"/>
            <xs:element name="chiefAppraiserId" nillable="true" type="xs:string"/>
            <xs:element name="assignTo_SupervisorId" nillable="true" type="xs:string"/>
            <xs:element name="assignTo_SupervisorGroupId" nillable="true" type="xs:string"/>
            <xs:element name="assignedToAppraiserBy" nillable="true" type="xs:string"/>
            <xs:element name="assignedToSupervisorBy" nillable="true" type="xs:string"/>
            <xs:element name="assignedToPABy" nillable="true" type="xs:string"/>
            <xs:element name="assignedToChiefBy" nillable="true" type="xs:string"/>
            <xs:element name="submitTaskTitle" nillable="true" type="xs:string"/>
            <xs:element name="supervisorTaskTitle" nillable="true" type="xs:string"/>
            <xs:element name="pATaskTitle" nillable="true" type="xs:string"/>
            <xs:element name="supervisorGroupTaskTitle" nillable="true" type="xs:string"/>
            <xs:element name="pAGroupTaskTitle" nillable="true" type="xs:string"/>
            <xs:element name="submitBy" nillable="true" type="xs:string"/>
            <xs:element name="approvedBy" nillable="true" type="xs:string"/>
            <xs:element name="approvedByRole" nillable="true" type="xs:string"/>
            <xs:element name="pAAssigningToSupervisor" nillable="true" type="xs:string"/>
            <xs:element name="chiefAssigningToPA" nillable="true" type="xs:string"/>
            <xs:element name="chiefAssigningToSupervisor" nillable="true" type="xs:string"/>
            <xs:element name="pAAssigningToPA" nillable="true" type="xs:string"/>
            <xs:element name="accquiredBy_SupervisorId" nillable="true" type="xs:string"/>
            <xs:element name="accquiredBy_PAID" nillable="true" type="xs:string"/>
            <xs:element name="accquiredBy_ChiefID" nillable="true" type="xs:string"/>
            <xs:element name="selfAssign" nillable="true" type="xs:boolean"/>
            <xs:element name="pAAccquired" nillable="true" type="xs:boolean"/>
            <xs:element name="supervisorAccquired" nillable="true" type="xs:boolean"/>
            <xs:element name="chiefAccquired" nillable="true" type="xs:boolean"/>
            <xs:element name="escalateTo" nillable="true" type="xs:string"/>
            <xs:element name="escalationPath" nillable="true" type="xs:string"/>
            <xs:element name="isProcessEscalated" nillable="true" type="xs:boolean"/>
            <xs:element name="approvedByUserId" nillable="true" type="xs:string"/>
            <xs:element name="assignedToDirectorBy" nillable="true" type="xs:string"/>
            <xs:element name="assignedToAssistantAssessorBy" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                AssistantAssessor
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="directorId" nillable="true" type="xs:string"/>
            <xs:element name="assistantAssessorId" nillable="true" type="xs:string"/>
            <xs:element name="noOfUserModifiedEvents" nillable="true" type="xs:string"/>
            <xs:element name="pAAssigningToAppraiser" nillable="true" type="xs:string"/>
            <xs:element name="chiefAssigningToAppraiser" nillable="true" type="xs:string"/>
            <xs:element name="isProcessCancelled" nillable="true" type="xs:boolean"/>
            <xs:element name="isInvalid" nillable="true" type="xs:boolean"/>
            <xs:element name="taskOutcome" nillable="true" type="xs:string"/>
            <xs:element name="paAssignedToPAID" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ProcessRoutingBO" type="ProcessRoutingBOType"/>
</xs:schema>
