PropertyInfo/PDCRProcess/PropertyDataChangeRequest/businessCatalog/Data/AssignToUserOrGroupBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.9.0.1.7" build="1.7" fullName="Data.AssignToUserOrGroupBO" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Data/AssignToUserOrGroupBO" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/Data/AssignToUserOrGroupBO"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="AssignToUserOrGroupBOType">
        <xs:sequence>
            <xs:element name="assignmentBox_UserId" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                User Id of the User which is selected by a participant in Assignment BOX
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="assignmentBox_GroupId" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                Group Id of the Group which is selected by a participant in Assignment BOX
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="userType" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                UI - OUT : User Type (Appraiser,Supervisor,Principal Appraiser) which is selected by a participant in Assignment BOX
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AssignToUserOrGroupBO" type="AssignToUserOrGroupBOType"/>
</xs:schema>
