PropertyInfo/PDCRProcess/PropertyDataChangeRequest/businessCatalog/Data/PDCRHumanTaskBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.9.0.1.7" build="1.7" fullName="Data.PDCRHumanTaskBO" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Data/PDCRHumanTaskBO" elementFormDefault="qualified" xmlns:ns3="http://xmlns.oracle.com/bpm/bpmobject/Data/AssignToUserOrGroupBO"  xmlns:ns1="http://assessor.lacounty.gov/amp/data/ao/ManagePDCR/v1.0"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/Data/PDCRHumanTaskBO"  xmlns:ns2="http://xmlns.oracle.com/bpm/bpmobject/Data/SortPDCRBO"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/Data/AssignToUserOrGroupBO" schemaLocation="AssignToUserOrGroupBO.xsd"/>
    <xs:import namespace="http://assessor.lacounty.gov/amp/data/ao/ManagePDCR/v1.0" schemaLocation="oramds:/apps/amp/xsd/ao/ManagePDCR.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/Data/SortPDCRBO" schemaLocation="SortPDCRBO.xsd"/>
    <xs:complexType name="PDCRHumanTaskBOType">
        <xs:sequence>
            <xs:element ref="ns1:managePDCRRequest" bpmo:name="humanTaskData"/>
            <xs:element name="assignTo_UserID" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                (IN) User Id for the Submit Task
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="assignTo_GroupID" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                (IN) Group ID for Review Task
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="assignTo_ManagerID" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                (IN) User Id for the Manage Task
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="role" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                In - It’s a value passed by BPM to UI, based on which Role need to work on the human task - Appraiser, Supervisor, Principal Appraiser and Chief Appraiser
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ownerID" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                (IN)  Person who initiated the process from BVM screen.
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="clientID" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                (IN) Client Id will be derived from the security and is passed to UI as Client Id need to travel to DB for any SOA to DB interactions.
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="checkPDCR" nillable="true" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                (IN) Vijay asked for CheckBYE attribute as Boolen for C3, hence creating similar for C5
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="userType" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                (OUT) User Type is the value supplied by the user-interface. Permissible user type values are - Appraiser,Supervisor,Principal Appraiser and Chief Appraiser
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="accquiredBy" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                (OUT) User who claim the task from the pool (group) and have acted on it.
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="returnTo" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                (OUT) Return to OD (Owning District), DM (Direct Manager) or AM (Assigning Manager)
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sortPDCR" nillable="true" type="ns2:SortPDCRBOType">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                Sorting Fields
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="assignmentBox" nillable="true" type="ns3:AssignToUserOrGroupBOType"/>
            <xs:element name="assignedBy" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PDCRHumanTaskBO" type="PDCRHumanTaskBOType"/>
</xs:schema>
