PropertyInfo/PDCRProcess/PropertyDataChangeRequest/businessCatalog/Data/PDCRHumanTaskRespBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.9.0.1.7" build="1.7" fullName="Data.PDCRHumanTaskRespBO" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Data/PDCRHumanTaskRespBO" elementFormDefault="qualified" xmlns:ns1="http://assessor.lacounty.gov/amp/data/ao/ManagePDCR/v1.0"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/Data/PDCRHumanTaskRespBO"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:import namespace="http://assessor.lacounty.gov/amp/data/ao/ManagePDCR/v1.0" schemaLocation="oramds:/apps/amp/xsd/ao/ManagePDCR.xsd"/>
    <xs:complexType name="PDCRHumanTaskRespBOType">
        <xs:sequence>
            <xs:element ref="ns1:managePDCRRequest" bpmo:name="pdcrHumanTaskResp"/>
            <xs:element name="outcome" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                Human task Outcome
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="userType" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                User Type is the value supplied by the user-interface. Permissible user type values are - Appraiser,Supervisor,Principal Appraiser and Chief Appraiser
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="acquiredBy" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                User who claim the task from the pool (group) and have acted on it.
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="returnTo" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                Return to OD (Owning District), DM (Direct Manager) or AM (Assigning Manager)
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="clientID" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                Client Id will be derived from the security and is passed to UI as Client Id need to travel to DB for any SOA to DB interactions.
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PDCRHumanTaskRespBO" type="PDCRHumanTaskRespBOType"/>
</xs:schema>
