PropertyInfo/PDCRProcess/PropertyDataChangeRequest/businessCatalog/Data/ReturnToBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.9.0.1.7" build="1.7" fullName="Data.ReturnToBO" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Data/ReturnToBO" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/Data/ReturnToBO"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="ReturnToBOType">
        <xs:sequence>
            <xs:element name="returnTo" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                (OUT) Return to OD (Owning District), DM (Direct Manager) or AM (Assigning Manager)
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="returnTo_UserId" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                (OUT) Return To User Id - User Id of the User who is selected by the Participant from the ASSIGNMENT Dialog Box
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="returnTo_GroupId" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                (OUT) Return To Groupr Id - Group Id of the Group who is selected by the Participant from the ASSIGNMENT Dialog Box
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ReturnToBO" type="ReturnToBOType"/>
</xs:schema>
