PropertyInfo/PDCRProcess/PropertyDataChangeRequest/businessCatalog/Data/SortPDCRBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.9.0.1.7" build="1.7" fullName="Data.SortPDCRBO" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Data/SortPDCRBO" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/Data/SortPDCRBO"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="SortPDCRBOType">
        <xs:sequence>
            <xs:element name="ain" nillable="true" type="xs:string"/>
            <xs:element name="district" nillable="true" type="xs:string"/>
            <xs:element name="region" nillable="true" type="xs:string"/>
            <xs:element name="cluster" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SortPDCRBO" type="SortPDCRBOType"/>
</xs:schema>
