BaseValueManagement/BYEProcess/SoapProxyStubsRulesService/src/gov/lacounty/assessor/amp/wsdl/bvm/baseyeareventrulesservice/RequestHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://assessor.lacounty.gov/amp/type/common/RequestHeader/v1.0" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://assessor.lacounty.gov/amp/type/common/RequestHeader/v1.0">
  <xsd:complexType name="requestHeader">
    <xsd:annotation>
      <xsd:documentation>The Request Header is a part of  SOA
                               request that facilitates various DEVOPS features of AMP SOA Infrastructure.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="applicationId" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>A string value that is set by the calling
                                       application to help with traceability and
                                       debugging. It is recommended that calling
                                       application pass this information.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="requestId" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Unique number generated by the calling
                                       application. In synchronous request reply
                                       interaction, the SOA service returns the
                                       requestId back to the caller as part of
                                       response message.This helps in
                                       traceability, debugging and correlation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>