PropertyInfo/PDCRProcess/PropertyDataChangeRequest/businessCatalog/BusinessException/PDCRBusinessException.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.9.0.1.7" build="1.7" fullName="BusinessException.PDCRBusinessException" modifiers="268697600"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/BusinessException/PDCRBusinessException" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/BusinessException/PDCRBusinessException"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="PDCRBusinessExceptionType">
        <xs:sequence>
            <xs:element name="errorInfo" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PDCRBusinessException" type="PDCRBusinessExceptionType"/>
</xs:schema>
