BaseValueManagement/BYEProcess/ManageBaseYearEvent/businessCatalog/Data/AssignToUserOrGroupBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.9.0.1.7" build="1.7" fullName="Data.AssignToUserOrGroupBO" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Data/AssignToUserOrGroupBO" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/Data/AssignToUserOrGroupBO"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="AssignToUserOrGroupBOType">
        <xs:sequence>
            <xs:element name="assignmentBox_UserId" nillable="true" type="xs:string"/>
            <xs:element name="assignmentBox_GroupId" nillable="true" type="xs:string"/>
            <xs:element name="userType" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AssignToUserOrGroupBO" type="AssignToUserOrGroupBOType"/>
</xs:schema>
