BaseValueManagement/BYEProcess/ManageBaseYearEvent/businessCatalog/Data/UIStateBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.9.0.1.7" build="1.7" fullName="Data.UIStateBO" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Data/UIStateBO" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/Data/UIStateBO"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="UIStateBOType">
        <xs:sequence>
            <xs:element name="key" nillable="true" type="xs:string"/>
            <xs:element name="value" nillable="true" type="xs:int" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="UIStateBO" type="UIStateBOType"/>
</xs:schema>
